<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>La Mia Pizzeria</title>
    <!-- Bootstrap via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="/pizzas">La Mia Pizzeria</a>
        </div>
    </nav>
</body>

</html>