<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
    <title>Create Pizza</title>
</head>

<body>
    <nav th:replace="~{fragments/header :: navbar}"></nav>

    <main class="container mt-4">
        <div class="row">
            <div class="col-12">
                <h1 class="fw-bold mb-3">Creazione Pizza</h1>
                <div class="row">
                    <div class="col-8">

                        <form id="pizza-form" th:action="@{/pizzas/create}" th:object="${pizza}" method="post">

                            <div class="mb-1">
                                <input class="form-input" type="text" id="name" th:field="*{name}"
                                    th:errorClass="is-invalid" placeholder="Nome">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-1">
                                <textarea name="" class="form-input" id="description" th:field="*{description}"
                                    th:errorClass="is-invalid" placeholder="Descrizione"></textarea>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('description')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-1">
                                <input class="form-input" type="text" id="photo" th:field="*{photo}"
                                    th:errorClass="is-invalid" placeholder="Foto (link)">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('photo')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('photo')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="mb-1">
                                <input class="form-input" type="number" min="0" id="price" step="0.01"
                                    th:field="*{price}" th:errorClass="is-invalid" placeholder="Prezzo">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                                    <ul>
                                        <li th:each="error : ${#fields.errors('price')}" th:text="${error}"></li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div th:unless="${allIngredients.size == 0}" class="my-3 alert alert-warning">
                        <label class="form-label fw-bold">Aggiungi Ingredienti</label>
                        <div th:each="ingredient : ${allIngredients}" class="form-check">
                            <input type="checkbox" class="form-check-input" th:value="${ingredient.id}"
                                name="ingredients"
                                th:checked="${pizza.ingredients != null && pizza.ingredients.contains(ingredient)}">
                            <label class="form-check-label" th:text="${ingredient.name}"></label>
                        </div>
                    </div>

                    <div class="mb-3 d-flex justify-content-between">
                        <input type="submit" class="btn btn-primary" value="Crea nuova pizza">
                        <input type="reset" class="btn btn-warning" value="Reset">
                    </div>

                    </form>

                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>