<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}"></head>

<body>
    <nav th:replace="~{fragments/header :: navbar}"></nav>

    <div class="container mt-4">

        <a href="/pizzas" class="btn btn-secondary mb-3">← Torna all'elenco</a>

        <div class="card" style="max-width: 600px;">
            <!-- Foto della pizza -->
            <img th:src="${pizza.photo}" th:alt="${pizza.name}" class="card-img-top">

            <div class="card-body">
                <h2 class="card-title" th:text="${pizza.name}"></h2>
                <p class="card-text" th:text="${pizza.description}"></p>
                <p class="card-text">
                <h4>Prezzo:</h4>
                <span th:text="${'€ ' + pizza.price}"></span>
                </p>
            </div>
        </div>

        <!-- Sezione offerte speciali -->
        <div class="mt-4">
            <h3>Offerte speciali</h3>
            <!-- button -->
            <a th:href="@{/specialoffers/create/{id}(id=${pizza.id})}" class="btn btn-success btn-sm mb-3">Crea una
                nuova offerta</a>
        </div>
        <!-- Lista offerte esistenti -->
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                th:each="offer : ${pizza.offers}">

                <div>
                    <strong th:text="${offer.title}"></strong>
                    <span th:text="${' - Dal ' + offer.startDate}"></span>
                    <span th:if="${offer.endDate != null}" th:text="${' al ' + offer.endDate}"></span>
                </div>

                <div class="justify-content-between">
                    <!-- bottone modifica -->
                    <a th:href="@{/specialoffers/edit/{id}(id=${offer.id})}" class="btn btn-warning btn-sm">Modifica</a>
                    <!-- bottone elimina -->
                    <a th:href="@{/specialoffers/delete/{id}(id=${offer.id})}" class="btn btn-danger btn-sm">Elimina</a>
                </div>

            </li>
        </ul>

    </div>
</body>

</html>